@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: ""Quicksand", sans-seri";
}
body{
    background: black;
   
}
nav{
    background: #2c2e30;
    display: flex;
    text-align: center;
    height: 60px;
    padding: 0 100px;
}
nav logo{
    display: flex;
}


nav .nav-items{
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
    margin-left: 330px;
}
nav .nav-items a{
    color: white;
    font-size: 18px;
    font-weight: 500px;
    text-decoration: none;
    pad: 5px;
    margin-left: 15px;
}
nav .nav-items a i{
    color: #14cf0e;
    padding: 6px;
}
nav form{
    display: flex;
    height: 40px;
    padding: 2px;
    background: #1e232b;
    min-width: 18% !important;
    border-radius:30px;
    border:1px solid rgba(155, 155, 155, 0.2)
}
nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: white;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}

nav form button{
    padding: 0 15px;
    color: white;
    font-size: 17px;
    background: #368338e1;
    border: none;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    cursor: pointer;
}
nav form button:hover{
    background: rgb(31, 246, 19);
}

.content{
    color: white;
    margin-top: 30px;
    text-align: center;
}
.content h1{
    justify-content: space-between;
    letter-spacing: 10px;

}
.content p{
    margin-top: 30px;
}
.content p i{
    color: #14cf0e ;
 }
movie-items{
    width: 10% ;
    height: 10%;
    margin-top: 30px;
    margin-left:1% ;
    padding: 20px;
}
.column{
    float: left;
    width: 16.66%;
    cursor: pointer;
    display: table;
}
.column img{
    border-radius: 10px;
}
.row::after{
    content: '';
    clear: both;
    display: table;
}
.columnh4,p{
    color: white;
}
.column:hover{
    scale: 1.1;
}